* {
    color: white;
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
}
body {
    background-color: #282d35;
    margin: 0%;
}
.nav--logo_text {
    color: #61DAFB;
    margin-right: auto;
    font-weight: 700;
    font-size: 22px;
}
.nav--title {
    color: #DEEBF8;
    font-weight: 600;
}
.main--facts {
    list-style: none;
    margin-top: 46px;
}
.main--facts > li::before {
    content: "\2022";
    font-size: 1.4rem;
    color: #61DAFB;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
    
}
li {
    padding-bottom: 15px;
}
nav {
    background-color: #21222A;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
    gap: 7px;
    
}

main {
    padding: 57px 27px;
    background-image: url("images/b-logo.png");
    background-repeat: no-repeat;
    background-position: right 75%;
    
}

.main--title {
    margin: 0%;
    font-size: 39px;
    letter-spacing: -0.05em;
}
.nav--icon {
    width: 2em;
    height: 2em;
}
